span.building:nth-of-type(1) {
  left: 0.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(2) {
  left: 2.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(3) {
  left: 4.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(4) {
  left: 6.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(5) {
  left: 8.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(6) {
  left: 10.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(7) {
  left: 12.0vw;
  height: 8vh;
  width: 2.0vw;
}

span.building:nth-of-type(8) {
  left: 14.0vw;
  height: 10vh;
  width: 2.0vw;
}

span.building:nth-of-type(9) {
  left: 16.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(10) {
  left: 18.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(11) {
  left: 20.0vw;
  height: 8vh;
  width: 2.0vw;
}

span.building:nth-of-type(12) {
  left: 22.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(13) {
  left: 24.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(14) {
  left: 26.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(15) {
  left: 28.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(16) {
  left: 30.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(17) {
  left: 32.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(18) {
  left: 34.0vw;
  height: 8vh;
  width: 2.0vw;
}

span.building:nth-of-type(19) {
  left: 36.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(20) {
  left: 38.0vw;
  height: 9vh;
  width: 2.0vw;
}

span.building:nth-of-type(21) {
  left: 40.0vw;
  height: 10vh;
  width: 2.0vw;
}

span.building:nth-of-type(22) {
  left: 42.0vw;
  height: 9vh;
  width: 2.0vw;
}

span.building:nth-of-type(23) {
  left: 44.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(24) {
  left: 46.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(25) {
  left: 48.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(26) {
  left: 50.0vw;
  height: 10vh;
  width: 2.0vw;
}

span.building:nth-of-type(27) {
  left: 52.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(28) {
  left: 54.0vw;
  height: 8vh;
  width: 2.0vw;
}

span.building:nth-of-type(29) {
  left: 56.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(30) {
  left: 58.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(31) {
  left: 60.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(32) {
  left: 62.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(33) {
  left: 64.0vw;
  height: 4vh;
  width: 2.0vw;
}

span.building:nth-of-type(34) {
  left: 66.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(35) {
  left: 68.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(36) {
  left: 70.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(37) {
  left: 72.0vw;
  height: 9vh;
  width: 2.0vw;
}

span.building:nth-of-type(38) {
  left: 74.0vw;
  height: 7vh;
  width: 2.0vw;
}

span.building:nth-of-type(39) {
  left: 76.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(40) {
  left: 78.0vw;
  height: 6vh;
  width: 2.0vw;
}

span.building:nth-of-type(41) {
  left: 80.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(42) {
  left: 82.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(43) {
  left: 84.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(44) {
  left: 86.0vw;
  height: 3vh;
  width: 2.0vw;
}

span.building:nth-of-type(45) {
  left: 88.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(46) {
  left: 90.0vw;
  height: 9vh;
  width: 2.0vw;
}

span.building:nth-of-type(47) {
  left: 92.0vw;
  height: 5vh;
  width: 2.0vw;
}

span.building:nth-of-type(48) {
  left: 94.0vw;
  height: 10vh;
  width: 2.0vw;
}

span.building:nth-of-type(49) {
  left: 96.0vw;
  height: 8vh;
  width: 2.0vw;
}

span.building:nth-of-type(50) {
  left: 98.0vw;
  height: 3vh;
  width: 2.0vw;
}
