span.star:nth-of-type(0) {
  top: 72vh;
  left: 30vw;
}

span.star:nth-of-type(1) {
  top: 12vh;
  left: 28vw;
}

span.star:nth-of-type(2) {
  top: 73vh;
  left: 89vw;
}

span.star:nth-of-type(3) {
  top: 52vh;
  left: 59vw;
}

span.star:nth-of-type(4) {
  top: 53vh;
  left: 28vw;
}

span.star:nth-of-type(5) {
  top: 2vh;
  left: 75vw;
}

span.star:nth-of-type(6) {
  top: 12vh;
  left: 60vw;
}

span.star:nth-of-type(7) {
  top: 67vh;
  left: 89vw;
}

span.star:nth-of-type(8) {
  top: 8vh;
  left: 95vw;
}

span.star:nth-of-type(9) {
  top: 78vh;
  left: 58vw;
}

span.star:nth-of-type(10) {
  top: 43vh;
  left: 64vw;
}

span.star:nth-of-type(11) {
  top: 70vh;
  left: 52vw;
}

span.star:nth-of-type(12) {
  top: 76vh;
  left: 34vw;
}

span.star:nth-of-type(13) {
  top: 28vh;
  left: 57vw;
}

span.star:nth-of-type(14) {
  top: 14vh;
  left: 30vw;
}

span.star:nth-of-type(15) {
  top: 41vh;
  left: 34vw;
}

span.star:nth-of-type(16) {
  top: 69vh;
  left: 32vw;
}

span.star:nth-of-type(17) {
  top: 72vh;
  left: 16vw;
}

span.star:nth-of-type(18) {
  top: 1vh;
  left: 59vw;
}

span.star:nth-of-type(19) {
  top: 67vh;
  left: 68vw;
}

span.star:nth-of-type(20) {
  top: 5vh;
  left: 18vw;
}

span.star:nth-of-type(21) {
  top: 40vh;
  left: 75vw;
}

span.star:nth-of-type(22) {
  top: 77vh;
  left: 51vw;
}

span.star:nth-of-type(23) {
  top: 42vh;
  left: 10vw;
}

span.star:nth-of-type(24) {
  top: 72vh;
  left: 52vw;
}

span.star:nth-of-type(25) {
  top: 39vh;
  left: 29vw;
}

span.star:nth-of-type(26) {
  top: 26vh;
  left: 64vw;
}

span.star:nth-of-type(27) {
  top: 23vh;
  left: 38vw;
}

span.star:nth-of-type(28) {
  top: 58vh;
  left: 48vw;
}

span.star:nth-of-type(29) {
  top: 15vh;
  left: 23vw;
}

span.star:nth-of-type(30) {
  top: 11vh;
  left: 76vw;
}

span.star:nth-of-type(31) {
  top: 16vh;
  left: 68vw;
}

span.star:nth-of-type(32) {
  top: 45vh;
  left: 88vw;
}

span.star:nth-of-type(33) {
  top: 64vh;
  left: 68vw;
}

span.star:nth-of-type(34) {
  top: 10vh;
  left: 77vw;
}

span.star:nth-of-type(35) {
  top: 68vh;
  left: 71vw;
}

span.star:nth-of-type(36) {
  top: 20vh;
  left: 50vw;
}

span.star:nth-of-type(37) {
  top: 73vh;
  left: 4vw;
}

span.star:nth-of-type(38) {
  top: 15vh;
  left: 48vw;
}

span.star:nth-of-type(39) {
  top: 65vh;
  left: 28vw;
}

span.star:nth-of-type(40) {
  top: 42vh;
  left: 31vw;
}

span.star:nth-of-type(41) {
  top: 16vh;
  left: 5vw;
}

span.star:nth-of-type(42) {
  top: 5vh;
  left: 22vw;
}

span.star:nth-of-type(43) {
  top: 52vh;
  left: 60vw;
}

span.star:nth-of-type(44) {
  top: 57vh;
  left: 91vw;
}

span.star:nth-of-type(45) {
  top: 32vh;
  left: 93vw;
}

span.star:nth-of-type(46) {
  top: 26vh;
  left: 73vw;
}

span.star:nth-of-type(47) {
  top: 14vh;
  left: 57vw;
}

span.star:nth-of-type(48) {
  top: 26vh;
  left: 1vw;
}

span.star:nth-of-type(49) {
  top: 65vh;
  left: 12vw;
}

span.star:nth-of-type(50) {
  top: 31vh;
  left: 45vw;
}

span.star:nth-of-type(51) {
  top: 45vh;
  left: 58vw;
}

span.star:nth-of-type(52) {
  top: 43vh;
  left: 89vw;
}

span.star:nth-of-type(53) {
  top: 67vh;
  left: 37vw;
}

span.star:nth-of-type(54) {
  top: 63vh;
  left: 85vw;
}

span.star:nth-of-type(55) {
  top: 6vh;
  left: 10vw;
}

span.star:nth-of-type(56) {
  top: 70vh;
  left: 68vw;
}

span.star:nth-of-type(57) {
  top: 30vh;
  left: 48vw;
}

span.star:nth-of-type(58) {
  top: 69vh;
  left: 11vw;
}

span.star:nth-of-type(59) {
  top: 49vh;
  left: 7vw;
}

span.star:nth-of-type(60) {
  top: 15vh;
  left: 69vw;
}

span.star:nth-of-type(61) {
  top: 58vh;
  left: 4vw;
}

span.star:nth-of-type(62) {
  top: 53vh;
  left: 12vw;
}

span.star:nth-of-type(63) {
  top: 6vh;
  left: 32vw;
}

span.star:nth-of-type(64) {
  top: 54vh;
  left: 83vw;
}

span.star:nth-of-type(65) {
  top: 9vh;
  left: 68vw;
}

span.star:nth-of-type(66) {
  top: 60vh;
  left: 64vw;
}

span.star:nth-of-type(67) {
  top: 23vh;
  left: 65vw;
}

span.star:nth-of-type(68) {
  top: 2vh;
  left: 72vw;
}

span.star:nth-of-type(69) {
  top: 37vh;
  left: 52vw;
}

span.star:nth-of-type(70) {
  top: 12vh;
  left: 49vw;
}

span.star:nth-of-type(71) {
  top: 10vh;
  left: 15vw;
}

span.star:nth-of-type(72) {
  top: 38vh;
  left: 35vw;
}

span.star:nth-of-type(73) {
  top: 75vh;
  left: 32vw;
}

span.star:nth-of-type(74) {
  top: 28vh;
  left: 29vw;
}

span.star:nth-of-type(75) {
  top: 37vh;
  left: 41vw;
}

span.star:nth-of-type(76) {
  top: 57vh;
  left: 41vw;
}

span.star:nth-of-type(77) {
  top: 59vh;
  left: 24vw;
}

span.star:nth-of-type(78) {
  top: 54vh;
  left: 96vw;
}

span.star:nth-of-type(79) {
  top: 8vh;
  left: 2vw;
}

span.star:nth-of-type(80) {
  top: 40vh;
  left: 22vw;
}

span.star:nth-of-type(81) {
  top: 23vh;
  left: 12vw;
}

span.star:nth-of-type(82) {
  top: 43vh;
  left: 20vw;
}

span.star:nth-of-type(83) {
  top: 24vh;
  left: 3vw;
}

span.star:nth-of-type(84) {
  top: 16vh;
  left: 43vw;
}

span.star:nth-of-type(85) {
  top: 52vh;
  left: 96vw;
}

span.star:nth-of-type(86) {
  top: 9vh;
  left: 66vw;
}

span.star:nth-of-type(87) {
  top: 5vh;
  left: 4vw;
}

span.star:nth-of-type(88) {
  top: 42vh;
  left: 56vw;
}

span.star:nth-of-type(89) {
  top: 63vh;
  left: 37vw;
}
